@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  
}

@media (prefers-color-scheme: dark) {

}

body {
 
}

.admin-nav {
    @apply relative 

}
.admin-nav:after{
  position:absolute;
  content: "";
  height: 2px;
  transition: all .5s;
  @apply w-0 bg-red-500 left-1/2 block bottom-0 absolute;

}
.admin-nav:hover:after {
  @apply left-0 w-full;
}

.admin-nav-active:after {
   @apply left-0 w-full;
}


